<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d [%thread] %level %logger - %m%n</Pattern>
		</encoder>
	</appender>
	<logger name="com.sun.jersey.api.container.filter.LoggingFilter" level="INFO" />
	<logger name="fr.bertrand.cedric" level="ERROR" />
	<logger name="org.eclipse.jetty.server.session" level="TRACE" />
	<root level="${root-level:-INFO}">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>